@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LogoFont";
  src: url("./assets/Fonts/LogoFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background-color: rgb(246, 199, 199); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
